.select_field {
    font-size: 15px;

    & label {
        display: block;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
}

.select_field__error {
    font-size: 12px;
    color: red;
}
